body { font-family: 'Source Sans Pro', sans-serif; }
h1 { font-weight: bold; font-size: 1.3em; margin: 0.6em; }
h2 { font-weight: bold; font-size: 1.2em; margin: 0.4em; }
h3 { font-weight: bold; font-size: 1.1em; margin: 0.2em; }

#source-area { padding: 4em 0.1em; margin-left: 19em; }
.source-div { width: 95%; margin: 0.8em auto; border: 2px solid black; }
.source-div-title { padding: 0.2em; background-color: #ffcc99; font-family: 'Cousine', monospace;
		    font-weight: bold; color: black; border: 1px dotted black; line-height: 1em; }
.source-div-title-selected { background-color: #6f6; }
.source-div-measurements-table { border-collapse: collapse; border: 2px solid #333;
				 margin: 0.4em; }
.source-div-measurements-table > thead td {
    background-color: black; color: white; font-family: 'Cousine', monospace;
    font-size: 0.9em; font-weight: bold; border: 1px solid white; padding: 0.4em; }
.source-div-measurements-table > tbody td {
    font-family: 'Cousine', monospace; font-size: 0.8em; border: 1px solid #333;
    padding: 0.3em; text-align: left; }

#catalogue-loading {
    position: fixed; z-index: 1000; height: 3em; background-color: yellow; left: 20em; right: 1em;
    line-height: 3em; padding: 0 0.6em; top: 4em; text-align: center; font-weight: bold;
}

.plot-div { width: 400px; height: 140px; border: 0; margin: 0; float: left; }
.spectraplot-div { width: 400px; height: 300px; border: 0; margin: 0; }
.plot-legend-div { float: left; }
.plot-no-plot { font-size: 2em; font-weight: bold; line-height: 100px; text-align: center;
		border: 0; }
.clear-div { clear: both; }
.plotholder-div { margin: 0.6em; float: left; }
.plot-navigation-div { clear: both; width: 100%; cursor: pointer; }
.navigation-previous { float: left; cursor: pointer; color: red; font-weight: bold; }
.navigation-next { float: right; text-align: right; color: red; font-weight: bold; }
.table-div { margin: 0.6em; clear: both; }
.table-div > table { width: 100%; }
#selection-area { background-color: #87cefa; position: fixed; width: 19em; }
#title-area { background-color: #2f4f4f; color: white; padding: 0.3em; }
#selector-area { padding: 0.3em; }
.spectra-link { color: green; font-weight: bold; cursor: pointer; text-decoration: underline;
		text-align: center; }

.hidden, .source-selection .hidden { display: none; }
.input-position-icon { width: 21px; height: 21px; vertical-align: text-bottom; }

input[type=checkbox] {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0);
    height:1px; width:1px; margin:-1px; padding:0; border:0;
}

.source-div-measurements-table caption span {
    padding: 0em 1em;
}
.only4cm {
    background-color: white;
}
.only16cm {
    background-color: yellow;
}
.both4and16cm {
    background-color: LightSkyBlue;
}

.source-selection {
    position: fixed; z-index: 1000; height: 3em; background-color: #6F6;
    left: 20em; right: 1em; line-height: 3em; padding: 0 0.6em;
}
.source-selection > div {
    display: inline; font-size: 1.2em;
}
.source-selection-selectors {
    float:right;
}
.source-selection-selectors > span {
    padding: 0 0.6em; text-decoration: underline; cursor: pointer;
}
#button-source-data-download { margin: 0 1em; }
.source-title-selector {
    float: right; cursor: pointer; text-decoration: underline; font-family: 'Source Sans Pro', sans-serif;
    padding-right: 1em;
}

input[type=checkbox] + label {
    padding-left:26px;
    height:21px; 
    display:inline-block;
    line-height:21px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;

    background-image:url(checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

input[type=checkbox]:checked + label {
    background-position: 0 -21px;
}

.move-right {
    padding-left: 26px;
}

button#button-show-sources {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  font-size: 1.2em;
  background: #ffd700;
  width: 99%; 
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0.3em auto;
}

button#button-show-sources:hover {
  background: #ffff00;
  text-decoration: none;
}

.sources-shown {
    margin-top: 1em;
}
